<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/icons8-favicon-94.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>WebRTC Video Conference</title>
</head>
<body>
    <h1>Welcome to WebRTC Video Conference</h1>
    <video id="localVideo" autoplay muted></video>
    <video id="remoteVideo" autoplay></video>
    <button id="startButton">Start Conference</button>
    <button id="joinButton">Join Conference</button>
    <script src="/static/js/main.js"></script>
</body>
</html>
